<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag 'filesindex.css' %>
	</head>
	<body>
		<% if !flash[:notice].blank? %>
		   <div class = "alert alert-info">
		      <%= flash[:notice] %>
		   </div>
		<% end %>
		<div class="uploads">
			<h3>Welcome!</h3>
			<% if @user.ad_files.empty? %>
				<%= "For instructions on how to get started, click the button below." %>
				<br />
				<%= "You can either upload a CSV export from the Google AdWords Editor" %>
				<%= "or download, fill in, and submit one of our custom CSV templates for" %>
				<%= "promoted tweets or sponsored Facebook posts." %>
			<% else %>
				<%= "Your uploaded campaigns are listed below." %>
				<%= "Click to download and save a PDF export or preview in the browser." %>
				<br />
				<%= "For our Twitter and Facebook CSV templates, click below to download." %>
			<% end %>
			<br />
			<br />
			<%= link_to("Twitter CSV template", "/twitter.csv") %> 
			<br />
			<%= link_to("Facebook CSV template", "/facebook.csv") %>
			<br />
			<br />
			<%= link_to "Upload CSV", new_ad_file_path, class: "btn btn-primary" %>
			<br />
			<br />

			<table class = "table table-bordered table-striped">
			   <thead>
			      <tr>
			         <th>Name</th>
					 <th>Platform</th>
			         <th>Download Link</th>
					 <th>Preview in Browser</th>
			         <th> </th>
			      </tr>
			   </thead>
   
			   <tbody>
			      <% @adfile.each do |adfile| %>
         
			         <tr>
			            <td><%= adfile.name %></td>
						<td><%= adfile.platform %></td>
			            <td><%= link_to "Download PDF", ad_file_path(adfile.id, :format => :pdf) %> </td>
						<td><%= link_to "Open", ad_file_path(adfile.id) %> </td>
			            <td><%= button_to "Delete",  adfile, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this file?" %></td>
			         </tr>
         
			      <% end %>
			   </tbody>
   
			</table>
		</div>
	</body>
	</html>
