<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag 'show.css' %>
	</head>
	<body>
		<div class="businesshead">
			<h2><%= @adfile.name %></h2>
		</div>
		<hr/>
		<% if @adfile.platform == "Google AdWords" %>
			<% adparse = AdwordsParser.new("#{@adfile.text_ad_file.url}") %>
			<% adparse.parseCampaigns()%>
			<% if !(adparse.validate_file_type()) %>
				<h3>Uh oh...</h3>
				<p>This doesn't look like a valid AdWords Editor CSV. Please re-upload and try again.</p>
				<p><%= link_to("Return Home", ad_files_path) %></p>
			<% else %>
				<% for i in 0...adparse.campaigns.length %>
					<% campaign = adparse.campaigns[i] %>
					<% adgroups = adparse.agMap[campaign] %>
					<div class="campaign">
						<h3>Campaign: <%= adparse.campData[campaign]['Campaign'] %> </h3>
						<table class="campinfo">
							<tr>
								<td><strong>Status</strong></td>
								<td><%= adparse.campData[campaign]['Campaign Status'] %></td>
							</tr>
							<tr>
								<td><strong>Budget (USD)</strong></td>
								<td>$<%= adparse.campData[campaign]['Campaign Daily Budget'] %></td>
							</tr>
							<tr>
								<td><strong>Dates</strong></td>
								<td><%= adparse.campData[campaign]['Start Date'] %> - <%= adparse.campData[campaign]['End Date'] || "TBD" %></td>
							</tr>
							<tr>
								<td><strong>Campaign Type</strong></td>
								<td><%= adparse.campData[campaign]['Campaign Type'] %></td>
							</tr>
							<tr>
								<td><strong>Networks</strong></td>
								<td><%= adparse.campData[campaign]['Networks'] %></td>
							</tr>
							<tr>
								<td><strong>Bid Strategy</strong></td>
								<td><%= adparse.campData[campaign]['Bid Strategy Type'] %></td>
							</tr>
							<tr>
								<td><strong>Language Targeting</strong></td>
								<td><%= adparse.campData[campaign]['Languages'] %></td>
							</tr>
						</table>
					</div>
					<% for j in 0...adgroups.length %>
						<% adgroup = adgroups[j] %>
						<div class="adgroup">
							<h3>Ad Group: <%= adparse.agData[adgroup]['Ad Group'] %></h3>
							<table class="adgroupinfo">
								<tr>
									<td><strong>Status</strong></td>
									<td><strong>Default Max CPC</strong></td>
									<td><strong>Flexible Reach</strong></td>
								</tr>
								<tr>
									<td><%= adparse.agData[adgroup]['Ad Group Status'] %></td>
									<td>$<%= adparse.agData[adgroup]['Max CPC'] %></td>
									<td><%= adparse.agData[adgroup]['Flexible Reach'] %></td>
								</tr>
								<tr>
								</tr>
							</table>
							<br/>
							<br/>
							<div class="textads">
								<% for k in 0...adparse.ads[adgroup].length%>
									<div class="textad">
										<span class="headline"><%= link_to "#{adparse.ads[adgroup][k][0]}", adparse.ads[adgroup][k][4] %></span>
										<br/>
										<span class="desc"><%= adparse.ads[adgroup][k][2] %></span>
										<br/>
										<span class="desc"><%= adparse.ads[adgroup][k][3] %></span>
										<br/>
										<span class="dispurl"><%= adparse.ads[adgroup][k][1] %></span>
										<br/>
										<br/>
										<br/>
									</div>
								<% end %>
							</div>
							<br/>
							<table class="keywords">
								<tr>
									<th><strong>Keywords</strong></th>
									<th><strong>Match Type</strong></th>
									<th><strong>Max. CPC (USD)</strong></th>
								</tr>
							<% for m in 0...adparse.kws[adgroup].length %>
									<tr>
										<td><%= adparse.kws[adgroup][m][0] %></td>
										<td><%= adparse.kws[adgroup][m][1] %></td>
										<td>$<%= adparse.kws[adgroup][m][2] %></td>
									</tr>
							<% end %>
							</table>
							<br/>
							<table class="negatives">
								<tr>
									<th><strong>Negative Keywords</strong></th>
									<th><strong>Match Type</strong></th>
								</tr>
								<% for n in 0...adparse.negs[adgroup].length %>
									<tr>
										<td><%= adparse.negs[adgroup][n][0] %></td>
										<td><%= adparse.negs[adgroup][n][1] %></td>
									</tr>
								<% end %>
							</table>
						</div>
						<br/>
						<br/>
						<hr/>
					<% end %>
				<% end %>
			<% end %>
		<% elsif @adfile.platform == "LinkedIn" %>
			<% linkedinparse = LinkedinParser.new("#{@adfile.text_ad_file.path}" )%>
			<% linkedinparse.parsePosts() %>
			<% if !(linkedinparse.validate_file_type()) %>
				<h3>Uh oh...</h3>
				<p>This CSV doesn't seem to match our LinkedIn template. Please download our CSV template for LinkedIn and try re-uploading again.</p>
				<p><%= link_to("Return Home", ad_files_path) %></p>
			<% else %>
				<% for i in 0...linkedinparse.campaigns.length %>
					<% campaign = linkedinparse.campaigns[i] %>
					<div class="campaign">
						<h3>Campaign: <%= linkedinparse.campaigns[i] %></h3>
						<table class="campinfo">
							<tr>
								<td><strong>Daily Budget</strong></td>
								<td><%= linkedinparse.campData[campaign][0] %></td>
							</tr>
							<tr>
								<td><strong>Targeting Options</strong></td>
								<td><%= linkedinparse.campData[campaign][1] %></td>
							</tr>
						</table>
					</div>
					<br/>
					<% for j in 0...linkedinparse.posts[campaign].length %>
						<h3 class="adtype">Sponsored Update #<%=j+1%>:</h3>
						<div class="linpost">
							<div class="sponsup">
								<div class="linfollow">
									Follow
								</div>
								<div class="linprofpic">
									<%= image_tag("#{linkedinparse.posts[campaign][j][1]}", height: "50", width: "50")%>
								</div>
								<div class="linacct">
									<span class="linprofname"><strong><%= linkedinparse.posts[campaign][j][0] %></strong></span> shared:
									<br/>
									<span class="linspons">Sponsored</span>
								</div>
								<hr/>
								<div class="lintext">
									<%= truncate(linkedinparse.posts[campaign][j][3], length: 150) %>
									<span class="linurl"><%= linkedinparse.posts[campaign][j][7] %></span>
								</div>
								<div class="sponslink">
									<%= image_tag("#{linkedinparse.posts[campaign][j][2]}", height: "95", width: "160")%>
									<h4><%= linkedinparse.posts[campaign][j][6] %></h4>
									<span class="lindispurl"><strong><%= truncate(linkedinparse.posts[campaign][j][4], length: 70) %></strong> &middot; </span> <%= truncate(linkedinparse.posts[campaign][j][5], length: 100) %>
								</div>
								<br/>
								<br/>
								<div class="lininteract">
									Like &middot; Comment &middot; Share &middot;
								</div>
							</div>
						</div>
						<br/>
						<div class="mlinpost">
							<div class="mlinfollow">
								<strong>+</strong>
							</div>
							<div class="mprofinfo">
								<%= image_tag("#{linkedinparse.posts[campaign][j][1]}", height: "50", width: "50")%>
								<span class="mprofname"><strong><%= linkedinparse.posts[campaign][j][0] %></strong></span>
								<br/>
								<span class=linspons>Sponsored</span>
							</div>
							<br/>
							<div class="mlintext">
								<%= truncate(linkedinparse.posts[campaign][j][3], length: 150) %>
							</div>
							<hr/>
							<div class="mlinkinfo">
								<%= image_tag("#{linkedinparse.posts[campaign][j][2]}", height: "180", width: "325", class: "mpostpic")%>
								<strong><%= linkedinparse.posts[campaign][j][6] %></strong>
								<br/>
								<span class="mlindispurl"><%= truncate(linkedinparse.posts[campaign][j][4], length: 70) %></span>
							</div>
						</div>
						<br/>
					<% end %>
				<% end %>
			<% end %>			
		<% elsif @adfile.platform == "Twitter" %>
			<% twitparse = TweetsParser.new("#{@adfile.text_ad_file.url}") %>
			<% twitparse.parseTweets() %>
			<% if !(twitparse.validate_file_type()) %>
				<h3>Uh oh...</h3>
				<p>This CSV doesn't seem to match our Twitter template. Please download our CSV template for Twitter and try re-uploading again.</p>
				<p><%= link_to("Return Home", ad_files_path)%></p>
			<% else %>
				<% for i in 0...twitparse.campaigns.length %>
					<% campaign = twitparse.campaigns[i] %>
					<div class="campaign">
						<h3>Campaign: <%= twitparse.campaigns[i] %> </h3>
						<table class="campinfo">
							<tr>
								<td><strong>Daily Budget</strong></td>
								<td><%= twitparse.campData[campaign][0] %></td>
							</tr>
							<tr>
								<td><strong>Targeting Options</strong></td>
								<td><%= twitparse.campData[campaign][1] %></td>
							</tr>
						</table>
					</div>
					<br/>
					<% for j in 0...twitparse.tweets[campaign].length %>
						<h3 class="adtype">Promoted Tweet #<%=j+1%>:</h3>
						<% if (twitparse.tweets[campaign][j][0] != 0) %>
							<div class="tweet" height="330">
								<div class="twitpic">
									<% if (twitparse.tweets[campaign][j][7]) != 0 %>
										<%= image_tag("#{twitparse.tweets[campaign][j][7]}", height: "40", width: "40", class: "tprofpic")%>
									<% else %>
										<%= image_tag("twitter-egg-icon.jpg", height: "40", width: "40", class: "tprofpic") %>
									<% end %>
								</div>
								<div class="acctinfo">
									<span>
										<% if (twitparse.tweets[campaign][j][5]) != 0 %>
											<strong><%= twitparse.tweets[campaign][j][5] %></strong>
										<% else %>
											<strong>Your Acct</strong>
										<% end %>
										<% if (twitparse.tweets[campaign][j][6]) != 0 %>
											<span class="handle">@<%= twitparse.tweets[campaign][j][6] %></span>
										<% else %>
											<span class="handle"> @YourAcct</span>
										<% end %>
										</span>
								</div>
								<br/>
								<span class="tweetxt"><%= truncate(twitparse.tweets[campaign][j][4], length: 140) %></span>
								<br/>
								<br/>
								<%= image_tag("#{twitparse.tweets[campaign][j][0]}", height: "175", width: "480", class: "card") %>
								<div class="headurl">
									<strong><%= twitparse.tweets[campaign][j][2] %></strong>
									<br/>
									<span class="url"><%= twitparse.tweets[campaign][j][3] %></span>
								</div>
								<% if (twitparse.tweets[campaign][j][1] != 0) %>
									<div class="cta">
										<strong><%= twitparse.tweets[campaign][j][1] %></strong>
									</div>
								<% end %>
								<br/>
								<% if (twitparse.tweets[campaign][j][5]) != 0 %>
									<span class="promotedby">Promoted by <%= twitparse.tweets[campaign][j][5] %></span>
								<% else %>
									<span class="promotedby">Promoted by YourBusiness</span>
								<% end %>
							</div>
						<% elsif (twitparse.tweets[campaign][j][0] == 0) %>
							<div class="tweet" height="265">
								<div class="twitpic">
									<% if (twitparse.tweets[campaign][j][7]) != 0 %>
										<%= image_tag("#{twitparse.tweets[campaign][j][7]}", height: "40", width: "40", class: "tprofpic")%>
									<% else %>
										<%= image_tag("twitter-egg-icon.jpg", height: "40", width: "40", class: "tprofpic") %>
									<% end %>
								</div>
								<div class="acctinfo">
									<span>
										<% if (twitparse.tweets[campaign][j][5]) != 0 %>
											<strong><%= twitparse.tweets[campaign][j][5] %></strong>
										<% else %>
											<strong>Your Acct</strong>
										<% end %>
										<% if (twitparse.tweets[campaign][j][6]) != 0 %>
											<span class="handle">@<%= twitparse.tweets[campaign][j][6] %></span>
										<% else %>
											<span class="handle"> @YourAcct</span>
										<% end %>
										</span>
								</div>
								<br/>
								<span class="tweetxt"><%= truncate(twitparse.tweets[campaign][j][4], length: 140) %></span>
								<br/>
								<br/>
								<div class="headurl">
									<% if (twitparse.tweets[campaign][j][2] != 0) %>
										<strong><%= twitparse.tweets[campaign][j][2] %></strong>
									<% end %>
									<br/>
									<% if (twitparse.tweets[campaign][j][3] != 0)%>
										<span class="url"><%= twitparse.tweets[campaign][j][3] %></span>
									<% end %>
								</div>
								<% if (twitparse.tweets[campaign][j][1] != 0) %>
									<div class="cta">
										<strong><%= twitparse.tweets[campaign][j][1] %></strong>
									</div>
								<% end %>
								<br/>
								<% if (twitparse.tweets[campaign][j][5]) != 0 %>
									<span class="promotedby">Promoted by <%= twitparse.tweets[campaign][j][5] %></span>
								<% else %>
									<span class="promotedby">Promoted by YourBusiness</span>
								<% end %>
							</div>
						<% end %>
						<br/>
					<% end %>
				<% end %>
			<% end %>
		<% elsif @adfile.platform == "Facebook" %>
			<% fbparse = FacebookParser.new("#{@adfile.text_ad_file.url}") %>
			<% fbparse.parseCampaigns() %>
			<% if !(fbparse.validate_file_type) %>
				<h3>Uh oh...</h3>
				<p>This CSV doesn't seem to match our Facebook template. Please download our CSV template for Facebook and try re-uploading again.</p>
				<p><%= link_to("Return Home", ad_files_path) %></p>
			<% else %>
				<% for i in 0...fbparse.campaigns.length %>
					<% campaign = fbparse.campaigns[i] %>
					<% adsets = fbparse.agMap[campaign] %>
					<div class="campaign">
						<h3>Campaign: <%= campaign %></h3>
						<table class="campinfo">
							<tr>
								<td><strong>Daily Budget</strong></td>
								<% if (fbparse.campData[campaign][0] != 1) %>
									<td><%= fbparse.campData[campaign][0] %></td>
								<% else %>
									<td>$0</td>
								<% end %>
							</tr>
							<tr>
								<td><strong>Targeting Options</strong></td>
								<% if (fbparse.campData[campaign][1] != 1) %>
									<td><%= fbparse.campData[campaign][1] %></td>
								<% else %>
									<td>$0</td>
								<% end%>
							</tr>
						</table>
					</div>
					<br/>
					<% for j in 0...adsets.length %>
						<% adset = adsets[j] %>
						<div class="adset">
							<h3>Ad Set: <%= adset %></h3>
							<% for k in 0...fbparse.ads[adset].length %>
								<h3 class="adtype">Desktop News Feed Post #<%=k+1%>:</h3>
								<div class="fbdesktopad">
									<div class="fbdeskpropic">
										<% if (fbparse.ads[adset][k][1] != 0) %>
											<%= image_tag("#{fbparse.ads[adset][k][1]}", class: "fbpropic", height: "40", width: "40") %>
										<% else %>
											<%= image_tag("nopropic.jpg", class: "fbpropic", height: "40", width: "40")%>
										<% end %>
									</div>
									<div class="fbacctinfo">
										<% if (fbparse.ads[adset][k][0] != 0) %>
											<span class="fbprofname"><strong><%= fbparse.ads[adset][k][0] %></strong></span>
										<% else %>
											<span class="fbprofname"><strong>Your Profile</strong></span>
										<% end %>
										<br/>
										<span class="sponsored">Sponsored</span>
									</div>
									<div class="desktoplike">
										<strong>Like Page</strong>
									</div>
									<br/>
									<br/>
									<div class="desktoptext">
										<% if (fbparse.ads[adset][k][0] != 0) %>
											<p><%= truncate(fbparse.ads[adset][k][5], length: 90) %></p>
										<% else %>
											<p>Enter your Facebook post text here...</p>
										<% end %>
									</div>
									<div class="picdesktop">
										<% if (fbparse.ads[adset][k][2] != 0) %>
											<%= image_tag("#{fbparse.ads[adset][k][2]}", class: "bigadpic", height: "235", width: "465") %>
										<% else %>
											<%= image_tag("noadpic.jpeg", class: "bigadpic", height: "250", width: "465") %>
										<% end %>
									</div>
									<div class="desktopheadinf">
										<% if (fbparse.ads[adset][k][3] != 0) %>
											<p class="headline"><%= truncate(fbparse.ads[adset][k][3], length: 25) %></p>
										<% else %>
											<p class="headline">Insert a Headline</p>
										<% end%>
										<% if (fbparse.ads[adset][k][4] != 0)%>
											<p class="desktoplinkdesc"><%= truncate(fbparse.ads[adset][k][4], length: 120) %></p>
										<% else %>
											<p class="desktoplinkdesc">Enter a link description here...</p>
										<% end %>
										<% if (fbparse.ads[adset][k][7] != 0) %>
											<span class="deskdispurl"><%= fbparse.ads[adset][k][7] %></span>
										<% else %>
											<span class="deskdispurl">www.yoursite.com</span>
										<% end %>
									</div>
									<div class="deskcta">
										<% if (fbparse.ads[adset][k][6] != 0) %>
											<strong><%= truncate(fbparse.ads[adset][k][6], length: 20) %></strong>
										<% else %>
											<strong>Call To Action</strong>
										<% end %>
									</div>
								</div>
								<br/>
								<h3 class="adtype">Mobile News Feed Post #<%=k+1%>:</h3>
								<div class="fbmobilead">
									<div class="fbmobilepropic">
										<% if (fbparse.ads[adset][k][1] != 0) %>
											<%= image_tag("#{fbparse.ads[adset][k][1]}", class: "fbpropic", height: "40", width: "40") %>
										<% else %>
											<%= image_tag("nopropic.jpg", class: "fbpropic", height: "40", width: "40")%>
										<% end %>
									</div>
									<div class="fbacctinfo">
										<% if (fbparse.ads[adset][k][0] != 0 )%>
											<span class="mobprofname"><strong><%= fbparse.ads[adset][k][0] %></strong></span>
										<% else %>
											<span class="mobprofname"><strong>Your Profile</strong></span>
										<% end %>
										<br/>
										<span class="sponsored">Sponsored</span>
									</div>
									<div class="mobiletext">
										<% if (fbparse.ads[adset][k][5] != 0) %>
											<p><%= truncate(fbparse.ads[adset][k][5], length: 110) %></p>
										<% else %>
											<p>Enter text for your mobile Facebook ad here...</p>
										<% end %>
									</div>
									<div class="picmobile">
										<% if (fbparse.ads[adset][k][2] != 0) %>
											<%= image_tag("#{fbparse.ads[adset][k][2]}", class: "mobileadpic", height: "160", width: "300") %>
										<% else %>
											<%= image_tag("noadpic.jpeg", class: "mobileadpic", height: "160", width: "300") %>
										<% end %>
									</div>
									<div class="mobileheadinf">
										<% if (fbparse.ads[adset][k][3] != 0) %>
											<p class="mobheadline"><%= truncate(fbparse.ads[adset][k][3], length: 50) %></p>
										<% else %>
											<p class="mobheadline">Insert Mobile Headline</p>
										<% end %>
										<% if (fbparse.ads[adset][k][4] != 0) %>
											<p class="moblinkdesc"><%= truncate(fbparse.ads[adset][k][4], length: 80) %></p>
										<% else %>
											<p class="moblinkdesc">Mobile link description...</p>
										<% end %>
										<% if (fbparse.ads[adset][k][7] != 0) %>
											<span class="mobdispurl"><%= fbparse.ads[adset][k][7] %></span>
										<% else %>
											<span class="mobdispurl">www.yoursite.com</span>
										<% end %>
									</div>
									<div class="mobcta">
										<% if (fbparse.ads[adset][k][6] != 0) %>
											<strong><%= truncate(fbparse.ads[adset][k][6], length: 20) %></strong>
										<% else %>
											<strong>Call to Action</strong>
										<% end %>
									</div>
								</div>
								<br/>
								<h3 class="adtype">Right Column Ad #<%=k+1%>:</h3>
								<div class="fbrcolad">
									<div class="rcolpic">
										<% if (fbparse.ads[adset][k][2] != 0) %>
											<%= image_tag("#{fbparse.ads[adset][k][2]}", class: "rcoladpic", height: "135", width: "260") %>
										<% else %>
											<%= image_tag("noadpic.jpeg", class: "rcoladpic", height: "135", width: "260") %>
										<% end %>
									</div>
									<div class="rcolheadinf">
										<% if (fbparse.ads[adset][k][3] != 0) %>
											<p class="rcolheadline"><strong><%= truncate(fbparse.ads[adset][k][3], length: 25) %></strong></p>
										<% else %>
											<p class="rcolheadline"><strong>Right Column Headline</strong></p>
										<% end %>
										<% if (fbparse.ads[adset][k][7] != 0) %>
											<p class="rcolurl"><%= fbparse.ads[adset][k][7] %></p>
										<% else %>
											<p class="rcolurl">www.yoursite.com</p>
										<% end %>
									</div>
									<div class="rcoltext">
										<% if (fbparse.ads[adset][k][4] != 0) %>
											<p><%= truncate(fbparse.ads[adset][k][4], length: 90) %></p>
										<% else %>
											<p>Right column ad text here...</p>
										<% end %>
									</div>
								</div>
							</div>
						</div>
							<br/>
							<hr>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</body>
	</html>